
.allCount{
    display: flex;
    align-items: center;
    justify-content: inline;
    margin: 70px 0;
    flex-direction: column;
    
    
}

.infected{
    border-left: 5px solid rgb(226, 7, 7) !important;
    
}
.active{
    border-left: 5px solid rgb(36, 101, 221) !important;
    
}
.recovered{
    
    border-left: 5px solid #16d80f !important;
}
.deceased{
    border-left: 5px solid rgb(70, 70, 64) !important;
}
.countup{
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 5% 12%;
    
}